@import '../base/variables';

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1600px;
    margin: 0 auto;
}

.expenseFromAndDetails {
    min-width: 50%;
    margin-right: 2em;

    div:first-child {
        margin-bottom: 2em;
    }
}