@import '../base/variables';
@import '../base/typography';

.container {
    border: 3px dashed $gray-dark-secondary;
    border-radius: 8px;
    padding: 2em;
}

.table {
    width: 100%;
    text-align: left;

    button {
        font-size: inherit;
        background-color: transparent;
        color: #762429;
    }

    tr:first-child {
        &:hover {
            background-color: transparent;
        }
    }

    td:nth-child(2) {
        text-transform: capitalize;
    }

    tr {
        border-bottom: 2px solid $gray-dark-secondary;
        color: $gray-dark-primary;

        &:hover {
            background-color: $gray-light-secondary;
        }
    }

    th {
        @extend .h6;
        color: $gray-dark-primary;
        padding: 1em .5em;
    }

    td {
        padding: 1em .5em;
        word-break: break-all;

        @include medium {
            font-size: .7rem;
        }
    }

    @include medium {

        td:first-child,
        th:first-child {
            display: none;
        }
    }

    svg {
        margin-bottom: -4px;
        margin-left: 4px;
    }

}