@import '../base/variables';

.container {
    width: 100%;
    // position: sticky;
    bottom: 0;
    left: 0;
    padding: 4em 4em 6em 4em;
    color: $gray-light-primary;
    background-color: $teritiary;
    position: static;
    z-index: 1;

    div:first-child {
        display: flex;
        align-items: center;
    }

    hr {
        margin-left: 1em;
        border-top: 1px solid $gray-light-primary;
    }
}

.link-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: $gray-light-secondary;

    @include medium {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    nav {
        margin-top: 2em;


        ul:first-child {
            margin-bottom: 2em;
            flex-wrap: wrap;
            margin-top: 2em;
        }

        :nth-child(n) {
            display: flex;

            :nth-child(n) {
                margin-right: 2em;

                &:hover {
                    opacity: 70%;
                }

                @include medium {
                    margin-right: 1em;
                    margin-top: 1em;
                }
            }

            :last-child {
                margin-right: 0;
            }
        }

    }
}

.footer-button {
    text-align: right;

    @include medium {
        margin-top: 2em;
        text-align: left;
    }
}