@import '../base/variables';
@import '../base/typography';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
    background-color: $teritiary;
    box-shadow: $shadow-medium;
    position: static;
    z-index: 1;

    @include medium {
        width: 100%;
        padding: 2em 1em;
        flex-direction: column;
    }
}

.links-container {
    width: 100%;

    @include medium {
        margin-top: 2em;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: $gray-light-primary;
        @extend .h6;

        @include medium {
            width: auto;
            flex-wrap: wrap;
            justify-content: center;
        }

        li:nth-child(n) {
            margin-right: 4em;

            &:hover {
                transition: all .1s ease-in-out;
                opacity: 70%;
            }


            @include medium {
                margin: 1em;
            }
        }

        li:last-child {
            margin-right: 0;

            button {
                color: $gray-dark-primary;
                background: $primary $primary-to-secondary;
                display: flex;
                align-items: center;

                span {
                    margin-right: 10px;
                }
            }
        }
    }

}