html,
body {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Roboto, Arial, Helvetica, sans-serif;
}

.wf-Lato--loaded {
    font-family: Lato,
        Arial,
        Helvetica,
        sans-serif;
}

h1 {
    font-size: 5.8rem;
    font-weight: 300;
    letter-spacing: -1.5px;

    @include medium {
        font-size: 4.2rem;
    }
}

h2 {
    font-size: 3.9rem;
    font-weight: 300;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 3.1rem;
    font-weight: 400;
    letter-spacing: 0px;
}

h4 {
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}

h5,
.h5 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0px;
}

h6,
.h6 {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.15px;
}

a {
    text-decoration: none;
    color: inherit
}